// .detailPage{
//     border-radius: 25px;
//     min-height: 1vh;
//     min-width: auto;
//     background-image: linear-gradient(to right bottom, #ffffff, #fcfafc, #f9f6f8, #f8f1f3, #f6ecec);
// }
.detailPage{
    top: 336.57501220703125px;
    left: 31.25px;
    height: 480px;
    width: 800px;
    transform: translateY(+203px) translateX(156px);
}