a{
    font-size: 10pt;
    text-decoration: none;
    text-align: center;
}

.btnPopup {
    cursor: url('../Img/Airplane-White2.png'), auto;
    color: white;
    font-size: 12pt;
    transition: all 0.2s ease;
    width: 7vw;
    border-radius: 10px;
    background-color: #0f1021;
    border: none;
    padding: 2% 3%;
    margin: 5% 0% 5% 3%;
}

.btnPopup:hover {
    color: black;
    background-image: linear-gradient(to right, #a8c4db, #7a8cae);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
    background-position: 100% 0;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.btnPopup:focus {
    outline: none;
}

.closeBtn{
    margin-left: 0%;
}