.detailPage{
    padding: 1% 2% 0% 5% ;
    display: flex;
    flex-direction: column;
    height: auto;
    border-radius: 25px;
    min-width: 35vw;
    max-width: 56vw;
    background-image: linear-gradient(to right bottom, #cad0d1 0%, #a2aeb8 90%);
}

.containerDetail{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.containerInfoDetail{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 80px;
    padding-top: 1%;

}
h1{
    margin-top: 2%;
}
p{
    margin-bottom: 1%;
}
.season{
    margin: 0%;
}
.show{
    margin: 0%;
}


img{
    padding-top: 2%;
    width: 60%;
    height: auto;
}