.detailPage{
    padding: 1% 0% 0% 2% ;
    display: flex;
    flex-direction: column;
    height: auto;
    border-radius: 25px;
    min-width: 24vw;
    background-image: linear-gradient(to right bottom, #a8c4db 0%, #7a8cae 90%);
}

