.episodesContainer{
    display: flex;
    flex-direction: row;
}

h3{
    color: black;
}

.episodeList{
    padding: 1% 0% 0% 2% ;
    margin: 2%;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    border-radius: 10px;
    width: 15vw;
    background-image: linear-gradient(to right bottom, #cad0d1b1 0%, #a2aeb8b1 90%);
}

.episodeList:hover {
    background-image: linear-gradient(to right, #29323c, #2b5876,);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.episodeInfoContainer{
    margin: 1%;
    padding: 1% 0% 0% 3% ;
}

.infoChannelTime{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.showNameType{
    display: flex;
    flex-direction: row;
}

h2{
    font-size: 14pt;
}

.airTime{
    font-size: 10pt;
}

.containerChannels{
    display: flex;
    flex-direction: column;
}

.showName{
    font-size: 10pt;
    align-items: center;
}

p{
    margin-bottom: 1%;
    font-size: 12pt;
}